.pure-white-btn {
    background-color:$pure-white;
    border:none;
    border-radius:0px;
    font-weight:400;
    color:$primary-dark;
    padding:10px 30px;
    transition:0.4s ease-in-out !important;
    &:active, &:focus {
        outline:0;
        border:none;
    }
    &:hover {
        background-color:$orange;
        color:white;
    }
}