
@font-face {
    font-family: "SofiaPro";
    src: url("../assets/fonts/Mostardesign - Sofia Pro ExtraLight.otf");
    font-weight:200;
}
@font-face {
    font-family: "SofiaPro";
    src: url("../assets/fonts/Mostardesign - Sofia Pro ExtraLight Italic.otf");
    font-weight:200;
    font-style:italic;
}
@font-face {
    font-family: "SofiaPro";
    src: url("../assets/fonts/Mostardesign - SofiaProLight-Italic.otf");
    font-weight:300;
    font-style:italic;
}
@font-face {
    font-family: "SofiaPro";
    src: url("../assets/fonts/Mostardesign - SofiaProLight.otf");
    font-weight:300;
}
@font-face {
    font-family: "SofiaPro";
    src: url("../assets/fonts/Mostardesign - SofiaProRegular.otf");
    font-weight:400;
}
@font-face {
    font-family: "SofiaPro";
    src: url("../assets/fonts/Mostardesign - SofiaProRegular-Italic.otf");
    font-weight:400;
    font-style:italic;
}
@font-face {
    font-family: "SofiaPro";
    src: url("../assets/fonts/Mostardesign - Sofia Pro Medium.otf");
    font-weight:500;
}
@font-face {
    font-family: "SofiaPro";
    src: url("../assets/fonts/Mostardesign - SofiaProMedium-Italic.otf");
    font-weight:500;
    font-style:italic;

}
@font-face {
    font-family: "SofiaPro";
    src: url("../assets/fonts/Mostardesign - SofiaProSemiBold.otf");
    font-weight:600;
}
@font-face {
    font-family: "SofiaPro";
    src: url("../assets/fonts/Mostardesign - SofiaProSemiBold-Italic.otf");
    font-weight:600;
    font-style:italic;
}
@font-face {
    font-family: "SofiaPro";
    src: url("../assets/fonts/Mostardesign - Sofia Pro Bold.otf");
    font-weight:700;
}
@font-face {
    font-family: "SofiaPro";
    src: url("../assets/fonts/Mostardesign - SofiaPro-Bold.otf");
    font-weight:800;
}