body {
    font-family:"SofiaPro";
    color:$primary-dark;
}
a {
    &:hover {
        text-decoration:underline;
        color:$orange;
    }
}

.p-relative {
    position:relative;
}

::selection {
    background: $orange; /* WebKit/Blink Browsers */
    color:white;
  }
  ::-moz-selection {
    background: $orange; /* Gecko Browsers */
    color:white;
  }