$orange:#FF6600;
$primary-dark:#343230;
$dark-gray:#767370;
$gray:#b6b2ae;
$light-gray:#e1ded9;
$lighter-gray:#eeedeb;
$off-white:#f8f7f5;
$pure-white:#fff;
$nude-light:#f4ded1;
$nude-medium:#bf9781;
$nude-dark: #583733;
$success: #52ab83;
$error:#c82536;
$caution:#ffc35c;